<app-baitap2-header></app-baitap2-header>
<app-baitap2-carousel></app-baitap2-carousel>
<div class="row" style="width: 80%;margin: 0 auto">
  <div class="col-md-7">
    <app-baitap2-whatwedo></app-baitap2-whatwedo>
  </div>
  <div class="col-md-5">
    <app-baitap2-contactus></app-baitap2-contactus>
  </div>
</div>
<div class="row" style="width: 80%;margin: 0 auto">
  <div class="col-md-4">
    <app-baitap2-listcard></app-baitap2-listcard>
  </div>
  <div class="col-md-4">
    <app-baitap2-listcard></app-baitap2-listcard>
  </div>
  <div class="col-md-4">
    <app-baitap2-listcard></app-baitap2-listcard>
  </div>
</div>
<app-baitap2-footer></app-baitap2-footer>
